set timeout=5
set default=0

menuentry "croOS 3.0 - Full Kernel" {
    multiboot /boot/croOS.elf
    boot
}

menuentry "croOS 3.0 - Serial Debug" {
    multiboot /boot/croOS.elf
    set serial_console=true
    boot
}

menuentry "croOS 3.0 - Safe Mode (no networking)" {
    multiboot /boot/croOS.elf --safe
    boot
}
